@import '~@primer/css/support/index.scss';

@import '~@primer/css/base/index.scss';
@import '~@primer/css/box/index.scss';
@import '~@primer/css/links/index.scss';

@import '~@primer/css/color-modes/index.scss';
@import '~@primer/css/utilities/index.scss';

@import 'highlight.js/styles/github.css';
@import 'diff2html/bundles/css/diff2html.min.css';

html,
body,
#root {
  height: 100%;
}

:root {
  --usable-window-height: calc(100vh - env(titlebar-area-height));
}

* {
  user-select: none;
}
